.fcs-wrapper.outers_fcs_wrapper{
  position: relative; z-index: 10;
  min-height: 450px; height: auto; 
  // height: 100%;
  .container.cont-fcs{
    padding-left: 30px; padding-right: 30px;
    max-width: inherit;
    // position: relative;
    // overflow: hidden;
  }
  #myCarousel_home{

    .carousel-inner{
      // height: 100%;
      overflow: inherit;
      .carousel-item{
        // background-repeat: no-repeat;
        // background-size: cover;
        // background-position: top right;
      }
      .carousel-indicators{
        li{
          width: 11px;
          height: 11px;
          cursor: pointer;
        }
        li.active{
          
        }
      }
    }
    .carousel-caption{
      left: inherit; right: inherit;
      bottom: 10%; width: 100%; padding: 0;
      z-index: 1500;
      .bxsl_tx_fcs{
        text-align: left;
        padding-bottom: 0em;
        background: none; background-color: transparent;
          h4,p{
            display: block; margin: 0; padding: 0;
            line-height: 1.2;
          }
          h4{
            font-weight: 700; color: #fff;
            margin-bottom: 10px;
            font-size: 32px;
          }
          p{
            font-size: 19px; font-weight: 400; color: #fff; line-height: 1.45;
            
            display: block;
            margin-bottom: 0.7em;
          }

          a.customs_btn_fcs{
            display: block; text-align: center; margin: 0; padding: 0;
            background: none; background-color: #ffffff; box-shadow: none; border-radius: 0px; border:0px;

            width: 222px; height: 56px; 
            border: 2px solid #fff;
            // padding-top: 15px;
            background-color: #ffffff; color: #2d2d2d;
            font-size: 15px; font-weight: 700;
            // padding-top: 0.8rem;
            padding: 15px;
          }
          a.customs_btn_fcs:hover,
          a.customs_btn_fcs:focus{
            text-decoration: none;
            color: #2d2d2d;
          }
          .blocks_sn_lineyellow{
            .lines-yellow{
              background-color: #f1ec54; height: 5px; width: 100%;
            }
          }
      }
    }

    clear: both;
  }
  clear: both;
}

// .outers_fcs_wrapper.fcs-wrapper{
//   #myCarousel_home{
//     position: absolute; top: 0px; left: 0px; width: 100%;
//     height: 100%;
//   }
//   .carousel.carousel-fade .carousel-item {
//       display: block;
//       opacity: 0;
//       transition: opacity ease-out 1.7s;
//       left: 0;
//       top: 0;
//       position: absolute;
//   }
//   .carousel.carousel-fade .carousel-item.active {
//       opacity: 1 !important;
//   }
//   .carousel.carousel-fade .carousel-item:first-child {
//       top: auto;
//       position: relative;
//       transition: opacity ease-out 1.7s;
//   }
//   .carousel.carousel-fade .carousel-item:second-child {
//       top: auto;
//       position: relative;
//       transition: opacity ease-out 1.7s;
//   }
//   .carousel-item .img-fluid {
//       margin: 0 auto;
//   }
//   .carousel img {
//   }
// }


section.cover-about.blue-blocksall{
  background: none; background-image: inherit;

  background: url(../images/backs_blockcontent1_bluewhite.jpg) repeat-x;
  background-color: #1d4990;
  min-height: 300px; height: auto;
  width: 100%;
  padding-bottom: 5em;

  clear: both;
}
.content-text{
  font-family: @mons;
  h1, h2, h3, h4, h5, span, p{
    font-family: @mons;
    display: block;
    line-height: 1.4;
    margin: 0; padding: 0;
    margin-bottom: 0.8em;
  }
  
  h1{  }
  h2{  }
  h3{ font-size: 28px; font-weight: 700; color: #fff; }
  h4{  }
  h5{ font-size: 21px; font-weight: 500; color: #fff; }
  
  span{
    text-transform: uppercase;
    font-size: 15px; font-weight: 400; color: #fff;
  }

  p{
    font-size: 15px; font-weight: 400; color: #fff;
    line-height: 1.5;
  }

}

.container.containers_inside{
  max-width: 1005px;
}

section.middles_customprocess{
  background-color: #fff;
  min-height: 300px;
  height: auto; width: 100%;
  .tops_titles span{
    color: #00205b;
    font-size: 15px; font-weight: 700; text-transform: uppercase;
  }

  .inners_backs{
    background: url(../images/back-outer-process-1.jpg) no-repeat;
    background-position: center center;
    width: 100%;
    min-height: 600px; height: auto;

    .lefts_con{
      ul{
        text-align: right;
        li{
          padding: 4px 0;
          position: relative;
          z-index: 20;
          a{ 
            font-size: 16px; font-weight: 700; color: #00205b; text-transform: uppercase;
          }
        }
        li:hover,
        li:focus,
        li.active{
          a{
            text-decoration: none;
          }
        }

        li:hover:before,
        li:focus:before,
        li.active:before{
          display: inline-block;
        }
        li:before{
          display: none;
          content: "";

          position: absolute;
          top: 14px;
          right: -24px;
          background-color: #6d6d6d;
          height: 1px; width: 17px;
          z-index: 50;
        }
      }
    }
    .pictures{
      img{}
    }
    .description{
      h3,
      h4{
        font-size: 28px; font-weight: 700; color: #fff;
      }
      p{
        font-size: 15px; font-weight: 500; color: #fff;
      }

      .car-item{
      }
      .car-item.data0{
      }
      clear: both;
    }
    clear: both;
  }
  clear: both;
}

section.block-bottom-process{
  background-color: #fbfbfb;
  .tops_titles span{
    color: #00205b;
    font-size: 15px; font-weight: 700; text-transform: uppercase;
  }

  .lists_btm_process{
    .items{
      max-width: 417px;
      h4.titles{
       font-size: 26px; font-weight: 700; color: #00205b; 
      }
      .pictures{
        img{}
      }
      .infos{
        p{
          font-size: 15px; font-weight: 500; color: #404040;
        }
      }
      clear: both;
    }
    .slines{
      border-right: 1px solid #d5d5d5;
    }
    clear: both;
  }

  clear: both;
}

section.produk-sec-1.outersec_prd_2{
  .picts_mid{
    position: relative;
    margin-top: -200px;
    img{
      -webkit-box-shadow: 4px 4px 8px 0px rgba(50, 50, 50, 0.33);
      -moz-box-shadow:    4px 4px 8px 0px rgba(50, 50, 50, 0.33);
      box-shadow:         4px 4px 8px 0px rgba(50, 50, 50, 0.33);
    }
  }
  .title{
    h3{
      font-size: 15px; font-weight: 700; color: #00205b;
      letter-spacing: 1px; text-align: center;
    }
    p{
      font-size: 15px; font-weight: 500; color: #00205b;
    }
    a.btns_tcontact_pr{
      display: block;
      margin-top: 1rem;
      font-size: 12px; font-weight: 500; color: #00205b;
      letter-spacing: 3px;
    }
  }
  clear: both;
}

@media only screen and (max-width: 767px){
  
  .container.cont-fcs{
    padding: 0px !important;
  }
  .fcs-wrapper.outers_fcs_wrapper #myCarousel_home .carousel-caption{
    position: relative;
    padding: 1.3rem 0px 1.5rem;
    background-color: #fff;
  }
  .fcs-wrapper.outers_fcs_wrapper #myCarousel_home .carousel-caption .text-slide h5,
  .fcs-wrapper.outers_fcs_wrapper #myCarousel_home .carousel-caption .bxsl_tx_fcs p{
    color: #808080;
    display: inline;
  }
  .fcs-wrapper.outers_fcs_wrapper #myCarousel_home .carousel-caption .bxsl_tx_fcs p{
    font-size: 15px;
    padding-right: 0.3rem;
  }
  .fcs-wrapper.outers_fcs_wrapper #myCarousel_home .carousel-caption .text-slide h5{
    font-size: 16px;
  }
  header.header-mobile.homepage_head ul.navbar-nav li a{
    font-size: 14px;
  }
  header.header-mobile.homepage_head ul.navbar-nav li{
    border-bottom: 1px solid #808080;
    margin-right: 0;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
  }
  header.header-mobile.homepage_head ul.navbar-nav li.nav-item{
    border-bottom: 0px;
  }
  header.header-mobile.homepage_head ul.navbar-nav li.nav-item a{
    font-size: 13px; font-weight: 500;
  }

  .fcs-wrapper.outers_fcs_wrapper{
    padding-top: 90px;
  }
  header.header-mobile.homepage_head .navbar-brand{
    max-width: 225px;
  }

}

.ui-loader.ui-corner-all.ui-loader-default{
  display: none; 
}