@import url('https://fonts.googleapis.com/css?family=Encode+Sans:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');


@mons : 'Montserrat', sans-serif;
@encode : 'Encode Sans', sans-serif;
@roboto : 'Roboto', sans-serif;
@biru: #00205b;
html,body{
  overflow-x: hidden;
}

p{
  margin-bottom: 0;
  font-family: @mons;
}

.prelative.container{
  max-width: 1000px;
}

.prelative.container.cont-header{
  // max-width: 1836px;
  max-width: inherit;
  padding-left: 30px;
  padding-right: 30px;
}

.prelative.container2{
  max-width: inherit;
  padding-left: 30px;
  padding-right: 30px;
}


@import 'ib_styles.less';

section.home-sec-1{
  .box-content{
    .title{
      max-width: 365px;
      p{
        font-family: @mons;font-size: 30px;font-weight: bold;line-height: 1.1;color: @biru;
      }
    }
    .content{
      p{
        font-size: 15px;font-family: @mons;color: #404040;font-weight: 500;max-width: 400px;
      }
    }
    .link{
      a{
        font-size: 12px;color: @biru;font-weight: 500;font-family: @mons;text-decoration: none;text-transform: uppercase;letter-spacing: 1px;
        p{

        }
      }
    }
  }
}

section.home-sec-2{
  background: #f3f3f3;
  .title-sec{
    margin-bottom: 15px;
    p{
      font-family: @mons;font-size: 29px;font-weight: 700;line-height: 1.1;color: @biru;
    }
  }
  .box-content{
    // padding-top: 25px;
    .title-box{
      h1{
        font-size: 20px;font-family: @mons;font-weight: 700;color: #909090;
      }
    }
    .content{
      p{
        font-size: 12.5px;color: #404040;font-weight: 500;font-family: @mons;
      }
    }
    .link{
      a{
        font-size: 12px;color: @biru;font-weight: 500;font-family: @mons;text-decoration: none;text-transform: uppercase;letter-spacing: 1px;
        p{

        }
      }
    }
  }
}

section.home-sec-3{
  // background: #f3f3f3;
  .title-sec{
    p{
      font-family: @mons;font-size: 30px;font-weight: bold;line-height: 1.1;color: @biru;
    }
  }
  .box-content{
    .tanggal{
      p{
        font-size: 12px;font-family: @mons;font-weight: 500;color: #5b5b5b;
      }
    }
    .title{
      h1{
        font-size: 18px;color: #272727;font-weight: bold;font-family: @mons;height: 55px;
      }
    }
  }
  .more{
    a{
      font-size: 16px;color: #ed3338;font-weight: bold;font-family: @mons;text-decoration: none;letter-spacing: 1px;
      p{
      }
    }
  }
}

section.home-sec-4{
  // background: url('../images/sec-atas-footer_02.jpg');
  background: url('../images/backs_btm-abouts_bform.jpg');
  min-height: 620px;
  .box-section{
    .title{
      p{
        color: #ffffff;font-size: 30px;font-weight: 700;font-family: @mons;
      }
    }
    .subtitle{
      max-width: 490px;
      p{
        color: #ffffff;font-size: 16px;font-weight: 400;font-family: @mons;
      }
    }
    form{
      max-width: 520px;
      .form-group input{
        border: 0;
        border-radius: 0;
        border-bottom: 1px solid #fff;
        padding: .5em;
        font-size: 16px;
        font-weight: 400;
        color: #fff;
        width: 230px;
        background: transparent;
      }
      a{
        cursor: pointer;
        background: transparent;
        border: 0;
        padding: 9px 25px;
        color: #fff;
        font-size: 15px;
        text-transform: uppercase;font-size: 18px;font-family: @mons;letter-spacing: 1px;padding-left: 150px;text-decoration: none;
        img{
          position: relative;
          top: -2px;
          padding-left: 15px;
        }
      } 
    }
  }
}

section.footer{
  .no-telp{
    p{
      font-size: 16px;color: @biru;font-family: @mons;font-weight: 500;
      span{
        img{
          position: relative;
          top: -2px;
          padding: 0 10px;
        }
      }
      a{
        color: @biru;
      }
      b{
        
      }
    }
  }
  .bawah-logo{
    p{
      font-size: 16px;color: #555555;font-weight: bold;font-family: @mons;
    }
  }
  .copyright{
    p{
      font-size: 12px;color: #2a2a2a;font-family: @mons;font-weight: 500;opacity: 0.7;
    }
    
  }
  .website-design{
    p{
      font-size: 12px;color: #2a2a2a;font-family: @mons;font-weight: 500;opacity: 0.7;
      a{
        font-size: 12px;color: #2a2a2a;font-family: @mons;font-weight: 500;
      }
    }
  }
}

header.head{
  background: url('../images/back-header.jpg');background-repeat: repeat-x;
  padding-bottom: 15px;
  .tops_nheaders{
    background: #ebebeb;
    .box-telp{
      max-width: 175px;
      padding: 0;
      background: #ed3338;
      position: relative;
      display: inline-block;
      // min-height: 45px;
      p{
        padding: 10px;
        a{
          color: #ffffff;text-decoration: none;font-size: 14px;font-family: @mons;font-weight: bold;
          span{
            color: #ffffff;
          }
          img{
            position: relative;
            top: -2px;
            padding: 0 10px;
          }
        }
      }
    }
    .contact{
      padding: 0 20px;
      display: inline-block;
      a{
        text-decoration: none;
        p{
          font-size: 11px;font-family: @mons;font-weight: bold;color: #555555;
        }
      }
    }
    .bahasa{
      display: inline-block;
      p{
        a{
          text-decoration: none;
          span{
            font-size: 15px;color: #555555;font-family: @mons; font-weight: bold;
          }
          span.active{
            color: #2a1770;
          }
        }
      }
    }
  }
  .bottoms_nheaders{
    .logo-header{
      margin-top: -25px;
      .logo{
        display: inline-block;
        a{
          img{
            display: inline-block;
          }
        }
      }
      .lines-nmiddle{
        position: relative;
        top: 43px;
        display: inline-block;
        margin: 0;
        padding: 0;
        // display: inline-block;
        // vertical-align: middle;
        background-color: #948bb7;
        height: 55px;
        width: 1px;
      }
      .ind-man{
        display: inline-block;
        position: relative;
        p{
          position: relative;
          top: 31px;
          font-size: 9.3px;font-family: @mons;color: #555555;font-weight: bold;
          span{
            font-size: 18px;
          }
        }
      }
      .since{
        display: inline-block;
        position: relative;
        top: 20px;
        padding-left: 15px;
        img{

        }
      }
    }
    ul{
      margin-right: 0;
      padding: 30px 0;
      margin-bottom: 0;
      li{
        display: inline-block;
        a{
          text-decoration: none;
          font-size: 13px;color: #000000;font-family: @mons;font-weight: bold;
          padding: 0 0 0 15px;
        }
      }
    }
  }
}

.fcs-wrapper{
  background: url('../images/slide-back.jpg');
  background-repeat: repeat-x;
}

section.above-slide{
  background: #1d4990;
  .box-scroll{
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    h4{
      color: #ffffff;font-family: @mons;font-size: 29px;font-weight: bold;
    }
    p{
      color: #ffffff;font-family: @mons;font-size: 17px;
    }
  }
}

.carousel-caption{
  .text-slide{
    max-width: 655px;
    margin: 0 auto;
    text-align: center;
    // padding-top: 100px;
    p{
      font-size: 24px;font-weight: lighter;font-family: @mons;color: #ffffff;
      padding-bottom: 0.3em; 
    }
    h5{
      font-size: 24px; font-weight: bold; font-family: @mons;color: #ffffff;text-transform: uppercase;
      b,strong,span{
        text-decoration: underline;
        font-weight: 700;
      }
    }
  }
}

ol.carousel-indicators{
  top: 105%;
  li{
    width: 55px;
    height: 6px;
    cursor: pointer;
  }
  li.active{
    background-color: #ed3338;
  }
}

section.cover{
  background: url('../images/slide-back.jpg');
  background-repeat: repeat-x;
  .produk{
    padding-left: 30px;
    padding-right: 30px;
    max-width: inherit;
    .cover-image{
      min-height: 510px;
      position: relative;
      img{
        height: 510px;
      }
      .centered{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        p{
          font-size: 31px;color: #ffffff;font-weight: bold;
        }
      }
    }
    .breadcrumb{  
      background: transparent;
      padding: 0;
      margin: 0;
      nav{
        padding: 0;
        margin: 0;
        ol{
          li{
            a{
              font-size: 12px;color: #ffffff;
            }
          }
        }
        .breadcrumb-item + .breadcrumb-item::before{
          content: ">";
          color: #ffffff;
        }
      }
    }
    .back{
      a{
        color: #ffffff;font-size: 12px;
      }
    }
  }
}

section.cover-above{
  background: #1d4990;
  .caption{
    .text1,.text2,.text3,.text4{
      color: #ffffff;
    }
    .text1{
      p{
        font-size: 15px;font-weight: bold;color: #fff;text-transform: uppercase;
      }
    }
    .text2{
      p{
        font-size: 29px;font-weight: bold;color: #fff;
      }
    }
    .text3{
      p{
        font-size: 21px;font-weight: 500;color: #fff;
      }
    }
    .text4{
      p{
        font-size: 15px;font-weight: 500;color: #fff;
      }
    }
  }
}

section.cover-about{
  background: url('../images/design-1-about_02.jpg') center center;
  background-repeat: repeat-x;
  .cover-image{
    position: relative;
    text-align: center;
    .centered {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      p{
        font-size: 31px;color: #ffffff;font-weight: bold;
      }
    }
  }
  .breadcrumb{  
    background: transparent;
    padding: 0;
    margin: 0;
    nav{
      padding: 0;
      margin: 0;
      ol{
        li{
          a{
            font-size: 12px;color: #ffffff;
          }
        }
      }
      .breadcrumb-item + .breadcrumb-item::before{
        content: ">";
        color: #ffffff;
      }
    }
  }
  .back{
    a{
      color: #ffffff;
      font-size: 12px;
      letter-spacing: normal;
    }
  }
  .produk{
    padding-left: 30px;
    padding-right: 30px;
    max-width: inherit;
    .cover-image{
      min-height: 510px;
      img{
        height: 510px;
      }
    }
  }
  .caption{
    .text1{
      p{
        font-size: 15px;color: #ffffff;font-weight: bold;
      }
    }
    .text2{
      width: 365px; 
      p{
        font-size: 29px;color: #ffffff;font-weight: bold;line-height: 1.2;
      }
    }
    .text3{
      p{
        font-size: 15px;color: #ffffff;
      }
    }
  }
}

section.about-sec-1{
  .box-content{
    .what{
      p{
        font-size: 15px;color: #00205b;font-weight: bold;text-transform: uppercase;
      }
    }
    .title{
      max-width: 365px;
      p{
        font-family: @mons;font-size: 30px;font-weight: bold;line-height: 1.1;color: @biru;
      }
    }
    .content{
      p{
        font-size: 15px;font-family: @mons;color: #404040;font-weight: 500;max-width: 400px;
      }
    }
    .link{
      a{
        font-size: 12px;color: @biru;font-weight: 500;font-family: @mons;text-decoration: none;text-transform: uppercase;letter-spacing: 1px;
        p{

        }
      }
    }
  }
}

section.about-sec-2{
  .box-vm{
    .caption{
      p{
        margin-bottom: 1em !important;
      }
    }
  }

  .back-left{
    background: #0c2142;
    height: 600px;
    .box-vm{
      max-width: 490px;
      margin: 0 0 0 auto;
      padding-right: 75px;
      .vision-mission{
        p{
          color: #ffffff;font-size: 29px;font-weight: bold;
        }
      }
      .caption{
        p{
          color: #ffffff;font-size: 15px;font-weight: 300;
        }
      }
    }
  }
  .back-right{
    height: 600px;
    background: #1d4990;
    .box-vm{
      max-width: 490px;
      padding-left: 75px;
      .vision-mission{
        p{
          color: #ffffff;font-size: 29px;font-weight: bold;
        }
      }
      .caption{
        li{
          color: #ffffff;font-size: 15px;font-weight: 300;
        }
      }
    }
  }
}

section.career-sec-1{
  background: #1d4990;
  .text1{
    p{
      font-size: 15px;font-weight: bold;color: #ffffff;
    }
  }
  .text2{
    p{
      font-size: 29px;font-weight: bold;color: #ffffff;
    }
  }
  .text3{
    p{
      font-size: 21px;font-weight: 400;color: #ffffff;
    }
  }
  .text4{
    p{
      font-size: 15px;font-weight: 400;color: #ffffff;
    }
  }
  .text5{
    p{
      font-size: 15px;font-weight: 400;color: #ffffff;
      a{
        font-weight: bold;color: #ffffff;text-decoration: none;
      }
    }
  }
}

section.contact-sec-1{
  background: #1d4990;
  .text1{
    p{
      font-size: 15px;font-weight: bold;color: #ffffff;
    }
  }
  .text2{
    p{
      font-size: 29px;font-weight: bold;
      color: #fff;
    }
  }
  .text3{
    p{
      font-size: 21px;color: #fff;font-weight: 600;
    }
  }
  .text4{
    p{
      font-size: 15px;color: #fff;
    }
  }
  .factory{
    p{
      font-size: 15px;font-weight: 700;color: #fff;
    }
  }
  .alamat{
    .title{
      p{
        font-size: 15px;font-weight: bold;
        color: #fff;
      }
    }
    .isi{
      p{
        font-size: 15px;font-weight: 500;
        color: #fff;
      }
    }
    .view{
      p{
        font-size: 15px;font-weight: bold;
        color: #fff;
      }
    }
  }
  .telepon{
    .title{
      p{
        font-size: 15px;font-weight: bold;
        color: #fff;
      }
    }
    .nomor{
      p{
        font-size: 15px;font-weight: 500;
        color: #fff;
        a{
          font-size: 15px;font-weight: 500;
          color: #fff;text-decoration: none;
        }
      }
    }
  }
  .email{
    .title{
      p{
        font-size: 15px;font-weight: bold;
        color: #fff;
      }
    }
    .nomor{
      p{
        font-size: 15px;font-weight: 500;
        color: #fff;
        a{
          font-size: 15px;font-weight: 500;
          color: #fff;text-decoration: none;
        }
      }
    }
  }
}

section.block-breadcrumb{
  background: #1d4990;
  .breadcrumb{
    padding: 0;
    background: transparent;
    margin: 0;
    padding: 25px 0;
    nav{
      ol.breadcrumb{
        padding: 0;
        margin: 0;
        li{
          a{
            font-size: 12px;color: #fff;font-weight: 500;
          }
        }
      }
      .breadcrumb-item + .breadcrumb-item::before{
        content: ">";
        color: #ffffff;
      }
    }
  }
  .back{
    padding: 25px 0;
    a{
      font-size: 12px;color: #fff;font-weight: 500;
    }
  }
}

section.title-breadcrumb{
  background: #082656;
  .title{
    padding: 70px 0;
    h3{
      color: #fff;font-size: 29px;font-weight: bold;     
    }
  }
}
section.title-breadcrumb2{
  background: #082656;
  .container-news{
    padding: 80px 0;
    .kategori{
      p{
        color: #fff;font-size: 17px;font-weight: bold; 
      }
    }
    .title{
      padding: 23px 0;
      h3{
        color: #fff;font-size: 29px;font-weight: bold; 
        margin-bottom: 0;    
      }
    }
    .tanggal{
      p{
        color: #fff;font-size: 12px;font-weight: 500; 
      }
    }
  }
}

section.pilihan{
  background: transparent;
  border-bottom: #bfbfbf 1px solid;
  .prelative.container{
    padding: 45px 0;
    ul{
      padding: 0;
      margin: 0;
      list-style: none;
      li{
        display: inline-block;
        a{
          font-size: 15px;
          font-weight: bold;
          color: #969696;
        }
      }
      li.active{
        a{
          color: #00205b;
        }
      }
      li.garis-awal{
        padding: 0 12px;
        .garis{
          height: 15px;
          width: 2px;
          background: #969696;
          position: relative;
          top: 2px;
        }
      }
    }
  }
}

section.pilihan .hide-mobile{
  background: transparent;
  border-bottom: #bfbfbf 1px solid;
  .prelative.container{
    padding: 45px 0;
    ul{
      padding: 0;
      margin: 0;
      list-style: none;
      li{
        display: block;
        a{
          font-size: 15px;
          font-weight: bold;
          color: #969696;
        }
      }
      li.active{
        a{
          color: #00205b;
        }
      }
      li.garis-awal{
        padding: 0 12px;
        .garis{
          height: 15px;
          width: 2px;
          background: #969696;
          position: relative;
          top: 2px;
        }
      }
    }
  }
}


section.news-sec-1{
  .box-news{
    padding-top: 100px;
    .tanggal{
      p{
        font-size: 12px;font-family: @roboto;color: #5b5b5b;
      }
    }
    .title{
      a{
        font-size: 18px;font-weight: bold;
        color: #272727;
        h2{
          font-size: 18px;font-weight: bold;
          color: #272727;
          height: 60px;
        }
      }
    }
    .content{
      p{
        font-size: 13px;color: #242424;font-weight: 500;
      }
    }
  }
}

section.news-detail-sec-1{
  .box-content{
    .content{
      p{
        color: #555555;font-size: 16px;font-weight: 500;
      }
    }
  }
  .latest{
    p{
      font-size: 29px;color: #00205b;font-weight: bold;
      
    }
  }
  .box-news{
    // padding-top: 100px;
    .tanggal{
      p{
        font-size: 12px;font-family: @roboto;color: #5b5b5b;
      }
    }
    .title{
      a{
        font-size: 18px;font-weight: bold;
        color: #272727;
        h2{
          font-size: 18px;font-weight: bold;
          color: #272727;
          height: 60px;
        }
      }
    }
    .content{
      p{
        font-size: 13px;color: #242424;font-weight: 500;
      }
    }
  }
}

section.next-prev{
  padding: 25px 0;
  border-top: 1px solid #bfbfbf;
  border-bottom: 1px solid #bfbfbf;
  ul{
    list-style: none;
    margin-bottom: 0;
    padding: 0;
    li{
      display: inline-block;
      a{
        font-size: 15px;color: #ed3338;font-weight: bold;
        
      }
    }
    li.garis-awal{
      padding: 0 12px;
      .garis{
        height: 15px;
        width: 2px;
        background: #969696;
        position: relative;
        top: 2px;
      }
    }
  }
}

section.produk-sec-1{
  .title{
    h3{
      font-size: 15px;color: #00205b;font-weight: bold;
      text-transform: uppercase;
    }
  }
  .box-produk{
    .title{
      h3{
        font-size: 17.5px;color: #00205b;font-weight: bold;
      }
    }
    .read{
      p{
        a{
          font-size: 12px;font-weight: 500;letter-spacing: 2px;color: #00205b;text-transform: uppercase;
          
        }
      }
    }
  }
  .content{
    max-width: 736px;
    margin: 0 auto;
    display: block;
    padding-top: 25px;
    .title-content{
      p{
        font-size: 18px;color: #272727;font-weight: 700;
      }
    }
    .isinya{
      p{
        font-size: 13px;color: #242424;
      }
    }
  }
  .footer-produk-bawah{
    margin: 0 auto;
    display: block;
    position: relative;
    text-align: center;
    h5{
      font-weight: 700;color: #00205b;font-size: 15px;
    }
    h6{
      padding-top: 7px;
      font-weight: 500;color: #00205b;font-size: 15px;
    }
    a{
      font-size: 12px;color: #00205b;padding-top: 25px;text-decoration: none;letter-spacing: 2px;
      p{
        padding-top: 25px;
      }
    }
  }
}
.hr-produk{
  height: 1px;background: #e1e1e1;
  max-width: 100%;
}

.header-affixs.affix-top{ top: -1000px; position: fixed; visibility: collapse; }
.header-affixs.affix{ top: 0px; left: 0px; position: fixed; visibility: initial; height: 75px;}
.header-affixs{
    // background-color: rgba(0, 146, 223, 0.95); #f37021
    background-color:#ffffff;
    width: 100%;
    z-index: 1000;
    height: 90px;
    border-bottom: 3px solid #1d4990;
    z-index: 100000;
    .lgo_web_headrs_wb{
      // padding-top: 0.8rem;
      padding-top: 7px;
      a{
        display: block;
        max-width: 217px;
      }
    }
}

.menu-taffix{
  padding-top: 23px;
}
.menu-taffix ul{ margin: 0; padding: 0px; }
.menu-taffix ul li{ padding: 0px; padding: 0 5px; }
.menu-taffix ul li a{ font-size: 13px; font-weight: 700; color: #555555; text-decoration: none; text-transform: uppercase; }
.menu-taffix ul li.active a,
.menu-taffix ul li a:hover{ text-decoration: none; color: #000000; }

.generate-height(50);
.generate-height(@n, @i: 0) when (@i =< @n) {
  .height-@{i} {
    height: (1px * @i);
  }
  .margin-@{i} {
    margin: (1px * @i);
  }
  .margin-top-@{i} {
    margin-top: (1px * @i);
  }
  .margin-bottom-@{i} {
    margin-bottom: (1px * @i);
  }
  .margin-left-@{i} {
    margin-left: (1px * @i);
  }
  .margin-right-@{i} {
    margin-right: (1px * @i);
  }
  .margin-left-right-@{i} {
    margin-left: (1px * @i);
    margin-right: (1px * @i);
  }
  .padding-@{i} {
    padding: (1px * @i);
  }
  .padding-top-@{i} {
    padding-top: (1px * @i);
  }
  .padding-bottom-@{i} {
    padding-bottom: (1px * @i);
  }
  .padding-left-@{i} {
    padding-left: (1px * @i);
  }
  .padding-right-@{i} {
    padding-right: (1px * @i);
  }
  .padding-left-right-@{i} {
    padding-left: (1px * @i);
    padding-right: (1px * @i);
  }
  .generate-height(@n, (@i + 1));
}
.clear{
  clear: both;
}

header.header-mobile.homepage_head .menu-headers{
  margin-right: 25px;
}
header.header-mobile.homepage_head{
  padding: 0 15px;
  nav.navbar.navbar-light{
    background-color: #fff !important;
    padding-left: 15px; padding-right: 15px;
  }
  .navbar-brand{
    max-width: 240px;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
  }
  .navbar-toggler{
    border: 0px; box-shadow: none;
    padding: 0px;
  }

  ul.navbar-nav{
    li{
      a{
        color: #888;
        text-transform: uppercase;
      }
      .dropdown-menu{
        border: 0px; 
        padding:0;
        li{
          a{
            margin-top: 0;
            padding-left: 1em;
            text-transform: uppercase;
          }
        }
      }
    }
    li.dropdown{
      a{
        padding: 0;
      }
    }
  }
}

section.cover-about .produk .cover-image{
  background: url('../images/ill-process.jpg');
  background-size: cover;
  background-position: center center;
}

section.cover-about.page-about .produk .cover-image{
  background: url('../images/about-dsgm-calcium-carbonate.jpg');
  background-size: cover;
  background-position: center center;
}

section.cover.page-career .produk .cover-image{
  background: url('../images/career-at-dsgm-calcium-carbonate.jpg');
  background-size: cover;
  background-position: center center;
}

section.cover.page-contact .produk .cover-image{
  background: url('../images/ill-contacts.jpg');
  background-size: cover;
  background-position: center center;
}

section.form-contact{
  background: #ebebeb;
  .title{
    p{
      font-size: 25px;color: #161616;
      text-align: center;font-weight: bold;
    }
  }
  form{
    // max-width: 520px;
    .form-group input{
      border: 0;
      border-radius: 0;
      border-bottom: 1px solid #434343;
      padding: .5em;
      font-size: 16px;
      font-weight: 400;
      color: #434343;
      width: 230px;
      background: transparent;
    }
    a{
      
      img{
        position: relative;
        top: -2px;
        padding-left: 15px;
      }
    }
    .text-area{
      // border-bottom: 1px #434343 solid;
      textarea{
        background: transparent;
        border-bottom: 1px #434343 solid;
        // border: 0;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        width: 100%;
        min-height: 80px;
      } 
    }
    .submit{
      margin: 0 auto;
      display: block;
      text-align: center;
      padding-top: 50px;
      a{
        background: #d9d9d9;
        border-radius: 20px;
        text-decoration: none;
        cursor: pointer;
        // background: transparent;
        border: 0;
        padding: 10px 70px;
        color: #434343;
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;font-size: 18px;text-decoration: none;
      }
    }
  }
}

section.form-resume{
  background: #ebebeb;
  .title{
    p{
      font-size: 25px;color: #161616;
      text-align: center;font-weight: bold;
    }
  }
  form{
    // max-width: 520px;
    .form-group input{
      border: 0;
      border-radius: 0;
      border-bottom: 1px solid #434343;
      padding: .5em;
      font-size: 16px;
      font-weight: 400;
      color: #434343;
      width: 230px;
      background: transparent;
    }
    a{
      
      img{
        position: relative;
        top: -2px;
        padding-left: 15px;
      }
    }
    .text-area{
      // border-bottom: 1px #434343 solid;
      textarea{
        background: transparent;
        border-bottom: 1px #434343 solid;
        // border: 0;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        width: 100%;
        min-height: 80px;
      } 
    }
    .submit{
      margin: 0 auto;
      display: block;
      text-align: center;
      padding-top: 50px;
      a{
        background: #d9d9d9;
        border-radius: 20px;
        text-decoration: none;
        cursor: pointer;
        // background: transparent;
        border: 0;
        padding: 10px 70px;
        color: #434343;
        font-size: 16px;
        font-weight: 500;font-size: 18px;text-decoration: none;
      }
    }
    .submit.resume{
      margin: 0 auto;
      display: block;
      text-align: center;
      padding-top: 50px;
      a{
        background: #d9d9d9;
        border-radius: 20px;
        text-decoration: none;
        cursor: pointer;
        // background: transparent;
        border: 0;
        padding: 10px 20px;
        color: #434343;
        font-size: 16px;
        font-weight: 500;font-size: 18px;text-decoration: none;
      }
      p{
        padding-top: 20px;
        font-size: 13px;color: #434343;font-weight: 400;
      }
    }
  }
}

@media only screen and (max-width:1400px){
  section.home-sec-4{
    background-position: center;
  }
}

@media only screen and (max-width:1440px){
  header.head .tops_nheaders .contact {
    padding: 0 10px;
    display: inline-block;
  }
  header.head .bottoms_nheaders ul li a {
    text-decoration: none;
    font-size: 13px;
    color: #000;
    font-family: Montserrat,sans-serif;
    font-weight: 700;
    padding: 0 0 0 5px;
  }
  header.head .bottoms_nheaders .logo-header .since{
    display: none;
  }
}

@media only screen and (max-width:1440px){
  header.head .bottoms_nheaders .logo-header .lines-nmiddle,
  header.head .bottoms_nheaders .logo-header .ind-man p{
    display: none;
  }
  header.head .bottoms_nheaders ul li a{
    text-decoration: none;
    font-size: 11px;
    color: #000;
    font-family: Montserrat,sans-serif;
    font-weight: 700;
    padding: 0 0 0 0px;
  }
  .menu-taffix ul li a {
    font-size: 12px;
    font-weight: 700;
    color: #555;
    text-decoration: none;
    text-transform: uppercase;
  }
}

@media only screen and (max-width:450px){
  .hide-pc{
    display: none;
  }
}

@media only screen and (min-width:450px){
  .hide-mobile{
    display: none;
  }
  header.header-mobile.homepage_head{
		display: none;
	}
}

@media only screen and (max-width:450px){
  header.head{
    display: none;
  }
  section.above-slide .box-scroll h4{
    font-size: 20px;
  }
  section.above-slide .box-scroll p{
    font-size: 15px;
    padding-bottom: 20px !important;
  }
  section.home-sec-1 .box-content .title p,
  section.home-sec-2 .title-sec p,
  section.home-sec-3 .title-sec p{
    font-size: 20px;
  }
  section.home-sec-1 .box-content .link a{
    padding-bottom: 20px;
  }
  section.home-sec-1 img{
    padding-top: 25px;
  }
  section.home-sec-2 .box-content .title-box h1{
    font-size: 18px;
  }
  section.home-sec-2 .box-content .content{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
  section.home-sec-3 .title-sec{
    padding-bottom: 10px !important;
  }
  section.home-sec-3 .box-content .tanggal{
    padding-top: 10px;
    padding-bottom: 10px !important;
  }
  section.home-sec-3 .box-content .title{
    padding-bottom: 10px !important;
  }
  section.home-sec-3 .box-content .title h1 {
    height: 45px;
  }
  section.home-sec-4 .box-section{
    padding-top: 0 !important;
  }
  section.home-sec-4 .box-section form .form-group input{
    width: 100%;  
  } 
  section.home-sec-4 .submit{
    text-align: left !important;
  }
  section.home-sec-4 .box-section form button{
    padding: 0px !important;
    margin-left: -15px;
    margin-top: 15px;
  }
  section.home-sec-4 .box-section form a{
    padding: 0;
  }
  section.cover-about .produk{
    padding: 0;
  }
  section.cover-about .breadcrumb{
    padding-left: 10px;
  }
  section.cover-about .back{
    padding-right: 20px;
  }
  section.cover-about .prelative.container{
    padding-top: 10px !important;
  }
  section.cover-about,
  section.cover{
    background: #1d4990;
  }
  section.cover-about .caption .text1 p{
    padding-top: 10px;
  }
  section.cover-about .caption .text1{
    padding-bottom: 20px;
  }
  section.cover-about .caption .text2 p,
  section.about-sec-1 .box-content .title p{
    font-size: 20px;
  }
  section.cover-about .caption .text3 p{
    padding-bottom: 30px;
  }
  section.about-sec-1 .box-content .link a p{
    padding-bottom: 20px;
  }
  section.about-sec-2 .back-left .box-vm,
  section.about-sec-2 .back-right .box-vm{
    padding: 0 20px;
  }
  section.about-sec-2 .back-left .box-vm .caption p,
  section.about-sec-2 .back-right .box-vm .caption p{
    font-size: 18px;
  }
  section.about-sec-2 .back-left,
  section.about-sec-2 .back-right{
    padding: 0 !important;
  }
  section.cover .produk{
    padding: 0;
  }
  section.cover .produk .breadcrumb nav{
    padding-left: 20px;
  }
  section.cover .produk .back a{
    padding-right: 20px !important;
  }
  section.cover-above .caption .text2 p{
    font-size: 20px;
  }
  section.cover-above .caption .text1 p{
    font-size: 12px;
  }
  section.cover-above .prelative.container .row.pt-5,
  section.contact-sec-1 .prelative.container .row.pt-5,
  section.career-sec-1 .prelative.container .row .text1{
    padding-top: 20px !important;
  }
  section.cover-above .caption .text3 p{
    font-size: 18px;
  }
  section.cover-above .caption .text4 p{
    font-size: 13px;
  }
  section.block-bottom-process .lists_btm_process .items h4.titles{
    font-size: 20px;
  }
  section.block-bottom-process .lists_btm_process .items .infos p{
    font-size: 13px;
    padding-bottom: 30px;
  }
  section.pilihan .prelative.container{
    padding: 20px 0;
  }
  section.news-sec-1 .box-news{
    padding-top: 40px;
  }
  section.news-sec-1 .box-news .title a h2,
  section.news-detail-sec-1 .box-news .title a h2{
    height: 30px;
  }
  section.news-detail-sec-1 .box-content .content p{
    font-size: 13px;
  }
  section.news-detail-sec-1 .latest p{
    font-size: 20px;
  }
  section.contact-sec-1 .text2 p{
    font-size: 20px;
  }
  section.contact-sec-1 .text3 p{
    font-size: 18px;
  }
  section.contact-sec-1 .text4 p{
    font-size: 13px;
  }
  section.contact-sec-1 .prelative.container .text4{
    padding-bottom: 15px !important;
  }
  section.career-sec-1 .text2 p{
    font-size: 20px;
  }
  section.career-sec-1 .text3 p{
    font-size: 18px;
  }
  section.career-sec-1 .text4 p, section.career-sec-1 .text5 p{
    font-size: 13px;
  }
}

.title-head-process{
  margin: 0 auto;
  text-align: center;
  p{
    font-size: 30px;color: #00205b;font-weight: 700;
  }
}

@import 'media_ib_styles.less';